.iframe {
  margin-top: 40px;
  height: 900px; 
  width: 80%;
  border: 5px solid red;
  position: relative;
  left: 30%;
}
.container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.form {
  display: flex;
  justify-content: center;
  

}

.free_press {
  display: flex;
  justify-content: center;
}